:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --grey: #6B7280;
    --pink: #EC4899;
    --purple: #8B5CF6;
    --light: #EEE;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  

/* .top {
    align-items: center;
} */

.name {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
    margin-top:0 ;
}

.name::placeholder {
    color: var(--pink);
    font-size: 1.5rem;
    font-weight: 300;
}

body {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    justify-content: flex-start;
    color: #fff;
    background-color: #262626;
    /* justify-content: center; */
    align-items: center;
    /* height: 100vh; */
    font-family: sans-serif;
    padding: 10rem;
    background-repeat: repeat;
}

/* header {
    padding: 1rem 1rem; /* Reduced padding */
    /* max-width: 800px; */
    /* max-width: 500px;
    width: 100%;
    margin: 0 auto;
} */ */

header {
    padding: 1rem 1rem; /* Reduced padding */
    max-width: 500px; /* Restrict width horizontally */
    width: 100%;
    margin: 0 auto;
}


.heading {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

#foam {
    display: flex;
}

input,
button {
    appearance: none;
    border: none;
    font-size: larger;
    outline: none;
    background: none;
    color: white;
}

#inputt {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    width: 800px;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#inputt::placeholder {
    color: var(--grey);
}

#submitt {
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    background-clip: text;  /* Standard */
    -webkit-background-clip: text;  /* For Chrome, Safari */
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#submitt:hover {
    opacity: 0.8;
}

#submitt:active {
    opacity: 0.6;
}
main {
    flex: 1 1 0%;
    padding: 1rem 1rem;
    max-width: 796px;
    width: 82%;
    margin: -164px auto;
}

/* main {
    flex: 1 1 0%;
    padding: 1rem 1rem; /* Reduced padding */
    /* max-width: 800px;
    width: 100%;
    margin: 0 auto;
} */ */

.list {
    padding: 1rem;
}

.list h2 {
    font-size: 1.5rem;
    font-size: 300;
    color: var(--grey);
    padding-top: 3rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.task .content {
    flex: 1 1 0%;
    width: 100%;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--pink);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    transition: 0.4s;
    height: 40%;
    width: 40%;
    margin-top:15%;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    background-clip: text;  /* Standard */
    -webkit-background-clip: text;  /* For Chrome, Safari */
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    color: crimson;
}

.content-container {
    flex: 1 1 calc(70% - 1rem); /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
}

.searchbox {
    margin-bottom: 10%;
    flex: 1 1 calc(30% - 1rem);
    display: flex;
    flex-direction: column;
    margin-top: -5rem;
    margin-left: 27rem;
}

.search {
    position: relative;
    width: 60px;
    height: 60px;
    background: var(--darker);
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px #2373ef;
    overflow: hidden;
}

.search.active {
    width: 360px;
}

.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #262626;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search .icon::before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border: 3px solid #287dfc;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.search .icon::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 21px;
    background: #287dfc;
    transform: translate(10px, 11px) rotate(140deg);
}

.search .innput {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
}

.search .innput {
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .innput input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70%;
    font-size: 18px;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background-color: #999;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}

/* Dropdown Styles */

.box44 {
    position: relative;
    width: 100%; /* Adjust the width as needed */
    max-width: 400px; /* Set a maximum width for larger screens */
    margin: 0 auto;
    text-align: center;
}

.hh {
    padding: 10%;
}

.box44 select {
    background-color: var(--darker);
    color: grey;
    padding: 12px;
    width: 100%; /* Make the select element width 100% */
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

/* Adjust the styles for larger screens */
@media (min-width: 768px) {
    .box44 {
        max-width: 500px;
    }
}

.box44::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    pointer-events: none;
}

.box44:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box44 select option {
    padding: 30px;
}

/* SORTing */

.button-1 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline
}